*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}
body{
    color: #5d5d5d;
    padding-left: 15%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: currentColor;
}
h3{
    color: white;
}
/* aside section */
aside {
    position:fixed;
    top: 0;
    left: 0;
}
aside img{
    width: 200px;
}
aside li{
    margin-bottom:20px;
}

/* MAIN */
main{
    margin-bottom: 10vh;
}
/* upgrade */
.upgrade{
    line-height: 100px;
    text-align: right;
}
.upgrade .button{
    vertical-align: middle;
    margin-right: 5px;
}


/* main-content */
nav li{
    margin:1.5%;
}
nav li:first-child{
    border-bottom: 2px solid #9ee92d;
}

/* recently-played */
.card{
    width: calc(100%/6);
    padding-right: 15px;
}
.card img{
    width: 100%;
}

/* footer */
footer{
    position: fixed;
    bottom:0;
    right: 0;
}
.middle{
    width: 60%;
    text-align: center;
}
.left, .right{
    width: 20%;
}
.right{
    text-align: right;
}


.left img{
    width: 50px;
}
.player{
    display: inline-block;
    position: relative;
    background-color: #5a5a5a;
    height: 5px;
    width: 50%;
    border-radius: 2px;
    overflow: hidden;
    vertical-align: middle;
}
.player .time{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: white;
    height: 5px;
    width: 30%;    
}

/* utility */
.container {
    padding:20px;
    padding-bottom:0;
}
.button{
    padding:20px 50px;
    border: 1px solid currentColor;
    border-radius:50px
}

.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.overflow{
    overflow: hidden;
}
.grow{
    flex-grow: 1;
}
.jc-c{
    justify-content: center;
}
.jc-sb{
    justify-content: space-between;
}

.h-90{
    height: 90vh;
}
.h-10{
    height: 10vh;
}
.w-full{
    width: 100%;
}
.w85{
    width: 85%;
}
.w15{
    width: 15%;
}

.mb-30{
    margin-bottom: 30px;
}

.bg-1{
    background-color: black;
    
}
.bg-2{
    background-color:#080b12;
    color:white;
}
.bg-3{
    background-color: #141922;
}
.bg-4{
    background-color: #282828;
}