*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}
body{
    color: #5d5d5d;
    padding-left: 230px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: currentColor;
}
h2{
    margin-top:40px;
    color:white;
}
h3{
    margin:20px auto 10px;
    color: white;
}
h4{
    color:white;
}
/* aside section */
aside {
    position:fixed;
    top: 0;
    left: 0;
    width: 230px;
}
aside img{
    width: 200px;
}
aside li{
    margin-bottom:20px;
}
aside li i{
    font-size: 30px;
    margin: 0 5px;
    vertical-align: middle;
}
.s-logo{
    display: none;
}
/* MAIN */
main{
    margin-bottom: 10vh;
}
/* upgrade */
.upgrade{
    line-height:100px;
    text-align: right;
    
}
.upgrade .button{
    vertical-align: middle;
    margin-right: 5px;
    display:inline-block;
    line-height:normal;
    transition: all 0.3s;
    
}


/* main-content */
nav li{
    margin:1.5%;
}
nav li:first-child{
    border-bottom: 2px solid #9ee92d;
}

div.flex.wrap{
    margin-top:30px;
}
div.flex.wrap h3{
    text-align: center;
}
.artist{
    display: block;
    text-align: center;
}
/* recently-played */
.card{
    width: calc(100%/6);
    padding-right: 15px;
    
}
.card img{
    width: 100%;
}

/* footer */
footer{
    position: fixed;
    bottom:0;
    right: 0;
}
.middle{
    width: 60%;
    text-align: center;
}
.left{
    width: 20%;
}
.right{
    justify-content: flex-end;
    width: 20%;
}
.right i{
    margin:0 5px;
}
.info{
    margin-right: 30px;
}
.flex.ai-c.left i{
    margin:5px 0;
}

.left img{
    width: 50px;
    height: 50px;
    margin-right:20px;
    vertical-align: middle;
}

.middle i{
    font-size:25px;
    margin:0 10px;
    color: #fff;
}
.right i{
    color: white;
}
.player{
    display: inline-block;
    position: relative;
    background-color: #5a5a5a;
    height: 5px;
    width: 50%;
    border-radius: 2px;
    overflow: hidden;
    vertical-align: middle;
    margin: 0 5px ;
}
.player .time{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: white;
    height: 5px;
    width: 30%;    
}

/* utility */
.container {
    padding:20px;
    padding-bottom:0;
}
.button{
    padding:20px 50px;
    border: 1px solid currentColor;
    border-radius:50px
}

.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.shrink{
    flex-shrink: 0;
}
.overflow{
    overflow: hidden;
}
.grow{
    flex-grow: 1;
}
.jc-c{
    justify-content: center;
}
.jc-sb{
    justify-content: space-between;
}
.ai-c{
    align-items: center;
}

.h-90{
    height: 90vh;
}
.h-10{
    height: 10vh;
}
.w-full{
    width: 100%;
}
.w85{
    width: 85%;
}
.w15{
    width: 15%;
}

.inline-block{
    display: inline-block;
}

.circle{
    border-radius:50%;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-15{
    margin-bottom: 15px;
}
.pb-20{
    padding-bottom: 20px;
}

.bg-1{
    background-color: black;
    
}
.bg-2{
    background-color:#080b12;
    color:white;
}
.bg-3{
    background-color: #141922;
}
.bg-4{
    background-color: #282828;
}

@media screen and (max-width:1000px){
    .card{
        width: calc(100%/4);
    }
}
@media screen and (max-width:800px){
    .card{
        width: calc(100%/2);
    }
}
@media screen and (max-width:600px){
    aside ul li{
        color: transparent;
        margin-bottom: 5px;

    }
    .s-logo{
        display: inline-block;
        width: 35px;
        margin-bottom: 5px;
    }
    aside ul li img:first-of-type{
        display: none;
    }
    aside ul li h3{
        color: transparent;
    }
    .fa-solid.fa-square-plus{
        color: transparent;
    }
    aside hr{
        color: transparent;
    }
    aside ul li i{
        color:gainsboro;
        margin-left: 0;
    }
    
    aside{
        width: 70px;
    }
    body{
        padding-left: 70px;
    }
}


/* animation */
.button:hover{
    transform: scale(1.1);
}
li:hover{
    color: white;
}
footer .left i:hover {
    color: white;
}
footer .left .song:hover {
    text-decoration: underline;
}
.middle .fa-regular.fa-circle-play:hover{
    transform: scale(1.3);
}

.card img:hover{
    filter:grayscale(0.8);
    position: relative;
}
.card img::after{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f144";
    font-size: 50px;
    color:white;
}